<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaša mašta vaša bašta</title>
    <style>
        .wider-input {
            width: 100%; /* Makes the input fields full width */
        }

        .table th,
        .table td {
            text-align: left; /* Align text to the left */
            white-space: nowrap; /* Prevents text wrapping */
        }

        .table th {
            width: 50%; /* Optional: Set fixed width for better alignment */
        }

        .list-group-item {
            padding-left: 15px; /* Optional: Add some left padding for list items */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #28a745;">
  <div class="container d-flex justify-content-between align-items-center">
    <h1 class="mb-0 text-white">Vaša mašta vaša bašta</h1>
    <div class="d-flex align-items-center">
      <ul class="navbar-nav mr-3 d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/profil">Profil</a>
        </li>
        <div class="vr mx-2" style="border-left: 1px solid white; height: 40px;"></div>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/firme">Firme</a>
        </li>
        <div class="vr mx-2" style="border-left: 1px solid white; height: 40px;"></div>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/zakazivanja">Zakazivanja</a>
        </li>
        <div class="vr mx-2" style="border-left: 1px solid white; height: 40px;"></div>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/odrzavanje">Održavanje</a>
        </li>
      </ul>
      <div class="vr mx-3" style="border-left: 1px solid white; height: 40px;"></div>
      <div class="d-flex align-items-center">
        <a routerLink="/promenaLozinke" class="text-white mr-3">Promeni lozinku</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div style="border-left: 1px solid white; height: 40px;">
        <button (click)="logout()" class="btn btn-light">Logout</button>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <div class="row justify-content-left">
    <div class="col-md-4">
      <div *ngIf="currentSection === 'profil'">
        <h2>Profil</h2>
        <div class="card">
          <img [src]="user.picture" class="card-img-top" alt="Profile Picture" style="width: 100px; height: 100px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ user.name }} {{ user.lastname }}</h5>
            <div class="form-group">
              <label for="profilePicture">Profile Picture</label>
              <input type="file" id="profilePicture" class="form-control" (change)="onFileSelected($event)">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" [(ngModel)]="user.name" name="name">
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input type="text" id="lastname" class="form-control" [(ngModel)]="user.lastname" name="lastname">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" class="form-control" [(ngModel)]="user.address" name="address">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" [(ngModel)]="user.mail" name="email">
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="user.phone_number" name="phone_number">
            </div>
            <div class="form-group">
              <label for="creditCardNumber">Credit Card Number</label>
              <input type="text" id="creditCardNumber" class="form-control" [(ngModel)]="user.credit_card_number" name="credit_card_number">
            </div>
            <br/>
            <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
          </div>
        </div>
      </div>

      <div *ngIf="currentSection === 'firme'">
        <h2>Firme</h2>
        <div class="form-group row">
          <label for="firme" class="col-sm-2 col-form-label"><b>Firme</b></label>
          <div class="col-sm-10">
            <div class="mb-3">
              <input type="text" class="form-control mb-2 wider-input" placeholder="Name" [(ngModel)]="searchName" name="searchName">
              <input type="text" class="form-control mb-2 wider-input" placeholder="Address" [(ngModel)]="searchAddress" name="searchAddress">
              <button class="btn btn-primary" (click)="searchFirme()">Pretrazi firme</button>
            </div>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-left" (click)="toggleSort('name')">Name</th>
                  <th class="text-left" (click)="toggleSort('address')">Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let firma of filteredFirme">
                  <td class="text-left" (click)="firmaSelected(firma)">
                    <b>{{ firma.name }}</b>
                    <br>
                    <a *ngIf="this.selected == firma" (click)="firmaNavigate()">{{firma.name}} link</a>
                  </td>
                  <td class="text-left">{{ firma.address }}</td>
                  <td>
                    <ul class="list-group mt-2">
                      <li class="list-group-item" *ngFor="let worker of firma.workers">
                        {{ getUserFullName(worker.toString()) }}
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="currentSection === 'zakazivanja'">
        <h2>Zakazivanja</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-left">Datum zakazivanja</th>
              <th class="text-left">Datum pocetka</th>
              <th class="text-left">Firma</th>
              <th class="text-left">Usluge</th>
              <th class="text-left">Napomena</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let zakazivanje of novaZakazivanja">
              <td class="text-left">{{ zakazivanje.date | date }}</td>
              <td class="text-left">{{ zakazivanje.startDate | date }}</td>
              <td class="text-left">{{ zakazivanje.firmaName }}</td>
              <td class="text-left">
                <ul>
                  <li *ngFor="let service of zakazivanje.services">{{ service.name }} - {{ service.price }}</li>
                </ul>
              </td>
              <td class="text-left">{{ zakazivanje.napomena }}</td>
              <td *ngIf="isDateGreaterByDays(zakazivanje.startDate!,newDate!,1)"><div style=" height: 40px;">
                <button (click)="otkaziPosao(zakazivanje.date!)" class="btn btn-light" style="background-color: #28a745; color: white">Otkaži</button>
              </div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="currentSection === 'odrzavanje'">
        <h2>Održavanje</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-left">Datum završetka</th>
              <th class="text-left">Broj vodenih povrsina</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let zakazivanje of gotovaZakazivanja">
              <td class="text-left">{{ zakazivanje.endDate | date }}</td>
              <td class="text-left">{{ (zakazivanje.povrsinaBazena > 0 || zakazivanje.povrsinaFontane > 0) ? 1 : 0 }}</td>
              <td *ngIf="isDateGreaterByDays(newDate!,zakazivanje.endDate!,180)"><div style=" height: 40px;">
                <button (click)="zakaziServis(zakazivanje)" class="btn btn-light" style="background-color: #28a745; color: white">Servis</button>
              </div></td>
              <td *ngIf="!isDateGreaterByDays(newDate!,zakazivanje.endDate!,180)"></td>
            </tr>
          </tbody>
        </table>
        <h2>Zakazivanja u toku</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-left">Datum pocetka</th>
              <th class="text-left">Firma</th>
              <th class="text-left">Napomena</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let zakazivanje of zakazaniServisi">
              <td class="text-left">{{ zakazivanje.startDate | date }}</td>
              <td class="text-left">{{ zakazivanje.firmaName }}</td>
              <td class="text-left">{{ zakazivanje.napomena }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
